<?xml version="1.0"?>
<launch>
	<!-- add joint info, pid settings and initialisation -->
	<include file="$(find omni_control)/launch/parameter.launch" />
	<rosparam file="$(find omni_control)/config/joint_velocity.yaml" command="load" />
	
	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller left_joint_velocity_controller back_joint_velocity_controller right_joint_velocity_controller" ns="/omnibase" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="omnibase">
      <!--<param name="publish_frequency" type="double" value="30.0" />-->
      <remap from="/joint_states" to="/omnibase/joint_states" />
   </node>

